{{outlet}}

<div class="jumbotron new-question">
  {{new-question save="save"}}
</div>

<div class="row">
  {{#each model.questions as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}

  {{/each}}
</div>
